<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../Jonathan-Rey-Simpsons-Homer-Simpson-04-Happy.ico">
    <title>Alerts</title>
</head>
<body>
    <nav>
        <a href="../index.html"><li class="nav__header">UI For Dummies</li></a>
        <a href="alerts.html"><li class="nav__items active__underline">Alerts</li></a>
        <a href="avatar.html"><li class="nav__items">Avatar</li></a>
        <a href="badges.html"><li class="nav__items">Badges</li></a>
        <a href="buttons.html"><li class="nav__items">Buttons</li></a>
        <a href="cards.html"><li class="nav__items">Cards</li></a>
        <a href="input.html"><li class="nav__items">Input</li></a>
        <a href="images.html"><li class="nav__items">Images</li></a>
        <a href="lists.html"><li class="nav__items">Lists</li></a>
        <a href="modal.html"><li class="nav__items">Modal</li></a>
        <a href="navigation.html"><li class="nav__items">Navigation</li></a>
        <a href="rating.html"><li class="nav__items">Rating</li></a>
        <a href="simplified_grid.html"><li class="nav__items">Simplified Grid</li></a>
        <a href="https://github.com/Akshay-Laxmipathi/ui-for-dummies"><img src="../icons/iconfinder_mark-github_298822.svg" class="nav__github"></a>
    </nav>

    <div class="content alerts__page">
        <h2>Alerts</h2>

        <div class="success__alert">
            <img class="success__alert--icon" src="../icons/iconfinder_tick_success_done_valid_5402431.svg" alt="success alert" >
            <div class="success__alert--text">Success Alert<span>This is a success alert.</span></div>
            <img class="success__alert--close" src="../icons/iconfinder_multimedia-26_2849810.svg" alt="close alert">
        </div>

        <span><br></span>

        <div class="primary__alert">
            <img class="primary__alert--icon" src="../icons/iconfinder_ic_info_48px_3669162.svg" alt="primary alert" ></img>
            <div class="primary__alert--text">Primary Alert<span>This is a primary alert.</span></div>
            <img class="success__alert--close" src="../icons/iconfinder_multimedia-26_2849810.svg" alt="close alert">
        </div>

        <span><br></span>
        
        <div class="warning__alert">
            <img class="warning__alert--icon" src="../icons/iconfinder_warning_326726.svg" alt="warning alert" ></img>
            <div class="warning__alert--text">Warning Alert<span>This is a warning alert.</span></div>
            <img class="success__alert--close" src="../icons/iconfinder_multimedia-26_2849810.svg" alt="close alert">
        </div>

        <span><br></span>
        
        <div class="error__alert">
            <img class="error__alert--icon" src="../icons/iconfinder_error-fill_3017946.svg" alt="error alert" ></img>
            <div class="error__alert--text">Error Alert<span>This is an error alert.</span></div>
            <img class="success__alert--close" src="../icons/iconfinder_multimedia-26_2849810.svg" alt="close alert">
        </div>

        <iframe
            src="https://carbon.now.sh/embed/tsOX5XBsPfP2EnpMZZ8Q"
            style="width: 1024px; height: 852px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
        
    </div>
</body>
</html>