<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../Jonathan-Rey-Simpsons-Homer-Simpson-04-Happy.ico">
    <title>Badges</title>
</head>
<body>
    <nav>
        <a href="../index.html"><li class="nav__header">UI For Dummies</li></a>
        <a href="alerts.html"><li class="nav__items">Alerts</li></a>
        <a href="avatar.html"><li class="nav__items">Avatar</li></a>
        <a href="badges.html"><li class="nav__items active__underline">Badges</li></a>
        <a href="buttons.html"><li class="nav__items">Buttons</li></a>
        <a href="cards.html"><li class="nav__items">Cards</li></a>
        <a href="input.html"><li class="nav__items">Input</li></a>
        <a href="images.html"><li class="nav__items">Images</li></a>
        <a href="lists.html"><li class="nav__items">Lists</li></a>
        <a href="modal.html"><li class="nav__items">Modal</li></a>
        <a href="navigation.html"><li class="nav__items">Navigation</li></a>
        <a href="rating.html"><li class="nav__items">Rating</li></a>
        <a href="simplified_grid.html"><li class="nav__items">Simplified Grid</li></a>
        <li>Text Utilities</li>
    </nav>

    <div class="content badges__page">
        <h2>Notification Badge</h2>

        <div class="notification__badge">
            <img src="../icons/iconfinder_bell_4918867.svg" class="notification__badge--icon">
            <div class="notification__badge--number">18</div>
        </div>

        <h2>Shopping Cart Badge</h2>

        <div class="notification__badge">
            <img src="../icons/iconfinder_shopping-cart_326700.svg" class="cart__badge--icon">
            <div class="cart__badge--number">18</div>
        </div>

        <h2>Wishlist Badge</h2>

        <div class="notification__badge">
            <img src="../icons/iconfinder_we_heart_it_246530.svg" class="wishlist__badge--icon">
            <div class="wishlist__badge--number">18</div>
        </div>

        <iframe
            src="https://carbon.now.sh/embed/ttOaaQUmR1KqzLEkwuij"
            style="width: 959px; height: 492px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
</body>
</html>