<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../Jonathan-Rey-Simpsons-Homer-Simpson-04-Happy.ico">
    <title>Buttons</title>
</head>
<body>
    <nav>
        <a href="../index.html"><li class="nav__header">UI For Dummies</li></a>
        <a href="alerts.html"><li class="nav__items">Alerts</li></a>
        <a href="avatar.html"><li class="nav__items">Avatar</li></a>
        <a href="badges.html"><li class="nav__items">Badges</li></a>
        <a href="buttons.html"><li class="nav__items active__underline">Buttons</li></a>
        <a href="cards.html"><li class="nav__items">Cards</li></a>
        <a href="input.html"><li class="nav__items">Input</li></a>
        <a href="images.html"><li class="nav__items">Images</li></a>
        <a href="lists.html"><li class="nav__items">Lists</li></a>
        <a href="modal.html"><li class="nav__items">Modal</li></a>
        <a href="navigation.html"><li class="nav__items">Navigation</li></a>
        <a href="rating.html"><li class="nav__items">Rating</li></a>
        <a href="simplified_grid.html"><li class="nav__items">Simplified Grid</li></a>
        <li>Text Utilities</li>
        <a href="https://github.com/Akshay-Laxmipathi/ui-for-dummies"><img src="../icons/iconfinder_mark-github_298822.svg" class="nav__github"></a>
    </nav>

    <div class="content buttons__page">
        <h2>Primary Button</h2>

        <button class="primary__button">
            Perform Action
        </button>

        <h2>Secondary Button</h2>

        <button class="secondary__button">
            Perform Action
        </button>

        <br>

        <iframe
            src="https://carbon.now.sh/embed/kQxkEj8sfJVD22aj6JyA"
            style="width: 437px; height: 348px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>

        <h2>Social Media Buttons</h2>

        <div class="social__media--buttons">
            <img src="../icons/iconfinder_logo-facebook_350974.svg" class="facebook__button">
            <img src="../icons/iconfinder_38-instagram_1161954.svg" class="instagram__button">
            <img src="../icons/iconfinder_73-pinterest_104430.svg" class="pinterest__button">
            <img src="../icons/iconfinder_43-twitter_104461.svg" class="twitter__button">
            <img src="../icons/iconfinder_75-reddit_1181212.svg" class="reddit__button">
        </div>
        
        <iframe
            src="https://carbon.now.sh/embed/xpksXaXA4L75Tjz0eple"
            style="width: 943px; height: 474px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>

        <h2>Floating Action Buttons</h2>

        <img src="../icons/iconfinder_More_372914.svg" class="floating__button--add">
        <img src="../icons/iconfinder_question-mark_6351915.svg" class="floating__button--question">
        
        <iframe
            src="https://carbon.now.sh/embed/UAVMKto370a3VCmqP5ES"
            style="width: 926px; height: 276px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
    </div>

</body>
</html>