<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../Jonathan-Rey-Simpsons-Homer-Simpson-04-Happy.ico">
    <title>Cards</title>
</head>
<body>
    <nav>
        <a href="../index.html"><li class="nav__header">UI For Dummies</li></a>
        <a href="alerts.html"><li class="nav__items">Alerts</li></a>
        <a href="avatar.html"><li class="nav__items">Avatar</li></a>
        <a href="badges.html"><li class="nav__items">Badges</li></a>
        <a href="buttons.html"><li class="nav__items">Buttons</li></a>
        <a href="cards.html"><li class="nav__items active__underline">Cards</li></a>
        <a href="input.html"><li class="nav__items">Input</li></a>
        <a href="images.html"><li class="nav__items">Images</li></a>
        <a href="lists.html"><li class="nav__items">Lists</li></a>
        <a href="modal.html"><li class="nav__items">Modal</li></a>
        <a href="navigation.html"><li class="nav__items">Navigation</li></a>
        <a href="rating.html"><li class="nav__items">Rating</li></a>
        <a href="simplified_grid.html"><li class="nav__items">Simplified Grid</li></a>
        <li>Text Utilities</li>
    </nav>

    <div class="content cards__page">
        <h2>Regular Card</h2>

        <div class="regular__card">
            <img src="../placeholders/240x320.png" class="card__image">

            </img>
            <img src="../icons/iconfinder_shopping-cart_326700.svg" class="shopping__cart">

            </img>
            <img src="../icons/iconfinder_we_heart_it_246530.svg" class="wishlist">

            </img>
            <div class="card__content">
                <div class="card__content--title">
                    Headphone X
                </div>
                <div class="card__content--price">
                    $420
                </div>
                <div class="card__content--rating">
                    <img src="../icons/iconfinder_star_326703.svg">
                    
                    </img>
                    <img src="../icons/iconfinder_star_326703.svg">
                        
                    </img>
                    <img src="../icons/iconfinder_star_326703.svg">
                        
                    </img>
                    <img src="../icons/iconfinder_star_326703.svg">
                        
                    </img>
                    <img src="../icons/iconfinder_star-half_326702.svg">
                        
                    </img>
                    <div class="total__ratings">
                        (<span>538</span>)
                    </div>
                </div>
                
                <div class="card__content--time">
                    21 days left
                </div>
                <div class="card__content--sales">
                    7.2k sold
                </div>
            </div>
        </div>

        <br>

        <iframe
            src="https://carbon.now.sh/embed/FhGFSpbTWNAiBQlzfV6B"
            style="width: 917px; height: 1014px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>

        <h2>Card With Badge - Selling Fast</h2>

        <div class="regular__card">
            <img src="../placeholders/240x320.png" class="card__image">

            </img>
            <img src="../icons/iconfinder_shopping-cart_326700.svg" class="shopping__cart">

            </img>
            <img src="../icons/iconfinder_we_heart_it_246530.svg" class="wishlist">

            </img>
            <img src="../icons/iconfinder_57_5243645.svg" class="selling__fast">

            </img>
            <div class="card__content">
                <div class="card__content--title">
                    Headphone X
                </div>
                <div class="card__content--price">
                    $420
                </div>
                <div class="card__content--rating">
                    <img src="../icons/iconfinder_star_326703.svg">
                    
                    </img>
                    <img src="../icons/iconfinder_star_326703.svg">
                        
                    </img>
                    <img src="../icons/iconfinder_star_326703.svg">
                        
                    </img>
                    <img src="../icons/iconfinder_star_326703.svg">
                        
                    </img>
                    <img src="../icons/iconfinder_star-half_326702.svg">
                        
                    </img>
                    <div class="total__ratings">
                        (<span>538</span>)
                    </div>
                </div>
                
                <div class="card__content--time">
                    21 days left
                </div>
                <div class="card__content--sales">
                    7.2k sold
                </div>
            </div>
        </div>

        <br>

        <iframe
            src="https://carbon.now.sh/embed/Mxgg6W1ZQumU7Cqn1CoQ"
            style="width: 917px; height: 1068px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>

        <h2>Card With Badge - New Arrival</h2>

        <div class="regular__card">
            <img src="../placeholders/240x320.png" class="card__image">

            </img>
            <img src="../icons/iconfinder_shopping-cart_326700.svg" class="shopping__cart">

            </img>
            <img src="../icons/iconfinder_we_heart_it_246530.svg" class="wishlist">

            </img>
            <img src="../icons/iconfinder_ic_fiber_new_48px_3669431.svg" class="new__arrival">

            </img>
            <div class="card__content">
                <div class="card__content--title">
                    Headphone X
                </div>
                <div class="card__content--price">
                    $420
                </div>
                <div class="card__content--rating">
                    <img src="../icons/iconfinder_star_326703.svg">
                    
                    </img>
                    <img src="../icons/iconfinder_star_326703.svg">
                        
                    </img>
                    <img src="../icons/iconfinder_star_326703.svg">
                        
                    </img>
                    <img src="../icons/iconfinder_star_326703.svg">
                        
                    </img>
                    <img src="../icons/iconfinder_star-half_326702.svg">
                        
                    </img>
                    <div class="total__ratings">
                        (<span>538</span>)
                    </div>
                </div>
                
                <div class="card__content--time">
                    21 days left
                </div>
                <div class="card__content--sales">
                    7.2k sold
                </div>
            </div>
        </div>

        <br>

        <iframe
            src="https://carbon.now.sh/embed/jvQt9slMCwy8A2NLLIns"
            style="width: 943px; height: 1068px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>

        <h2>Card With Dismiss</h2>

        <div class="dismiss__card">
            <div class="dismiss__card--header">
                Important Message
            </div>
            <img src="../icons/iconfinder_circle-cross_226589.svg" class="dismiss__card--icon">
            <div class="dismiss__card--content">
                Please read this message
            </div>
        </div>

        <iframe
            src="https://carbon.now.sh/embed/pkMIr4CvOZz9gwwoNKrE"
            style="width: 951px; height: 348px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>

        <h2>Cards With Text Overlay</h2>

        <div class="overlay__card">
            <img src="../placeholders/240x320.png" class="card__image">
            <img src="../icons/iconfinder_shopping-cart_326700.svg" class="shopping__cart">

            </img>
            <img src="../icons/iconfinder_we_heart_it_246530.svg" class="wishlist">

            </img>
            <div class="overlay__content">
                <div class="card__content--title">
                    Headphone X
                </div>
                <div class="card__content--price">
                    $420
                </div>
                <div class="card__content--rating">
                    <img src="../icons/iconfinder_star_326703.svg">
                    
                    </img>
                    <img src="../icons/iconfinder_star_326703.svg">
                        
                    </img>
                    <img src="../icons/iconfinder_star_326703.svg">
                        
                    </img>
                    <img src="../icons/iconfinder_star_326703.svg">
                        
                    </img>
                    <img src="../icons/iconfinder_star-half_326702.svg">
                        
                    </img>
                    <div class="total__ratings">
                        (<span>538</span>)
                    </div>
                </div>
            </div>
        </div>

        <iframe
            src="https://carbon.now.sh/embed/hQY9e1X3KE7avj20USVw"
            style="width: 917px; height: 852px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>

        <h2>Text Only Card</h2>

        <div class="text__card">
            <div class="text__card--header">
                Card Title
            </div>
            <div class="text__card--content">
                This is where the content goes.
            </div>
        </div>

        <iframe
            src="https://carbon.now.sh/embed/JNSntgn9VLiTWmh2wQMg"
            style="width: 546px; height: 330px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>

        <h2>Horizontal Card</h2>

        <div class="horizontal__card">
            <img src="../placeholders/320x240.png" class="horizontal__card--image">

            </img>
            <img src="../icons/iconfinder_shopping-cart_326700.svg" class="shopping__cart--horizontal">

            </img>
            <img src="../icons/iconfinder_we_heart_it_246530.svg" class="wishlist--horizontal">

            </img>
            <div class="horizontal__card--content">
                <div class="card__content--title">
                    Headphone X
                </div>
                <div class="card__content--price">
                    $420
                </div>
                <div class="card__content--rating">
                    <img src="../icons/iconfinder_star_326703.svg">
                    
                    </img>
                    <img src="../icons/iconfinder_star_326703.svg">
                        
                    </img>
                    <img src="../icons/iconfinder_star_326703.svg">
                        
                    </img>
                    <img src="../icons/iconfinder_star_326703.svg">
                        
                    </img>
                    <img src="../icons/iconfinder_star-half_326702.svg">
                        
                    </img>
                    <div class="total__ratings">
                        (<span>538</span>)
                    </div>
                </div>
                
                <div class="card__content--time">
                    21 days left
                </div>
                <div class="card__content--sales">
                    7.2k sold
                </div>
                <button class="primary__button">
                    Add To Cart
                </button>
            </div>
        </div>

        <br>

        <iframe
            src="https://carbon.now.sh/embed/np1E1cCWKhFwBIt19gBL"
            style="width: 1018px; height: 1068px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>

        <h2>Social Media Card</h2>

        <div class="social__media">
            <img src="../placeholders/240x320.png" class="social__media--image">
            <div class="social__media--content">
                <div class="save__board">
                    <div class="drop__box">
                        <div class="drop__box--content">
                            Headphones
                        </div>
                        <img src="../icons/iconfinder_Icon_down_outline_6637768.svg" class="save__board--down">
                    </div>
                    
                    <button class="primary__button">
                        Save
                    </button>
                </div>
                <div class="media__links">
                    <img src="../icons/iconfinder_DiagonalArrowUpRight_1031528.svg" class="media__links--external">
                    <img src="../icons/iconfinder_share_2561384.svg" class="media__links--share">
                    <img src="../icons/iconfinder_dots-horizontal_7122363.svg" class="media__links--other">
                </div>
            </div>
        </div>

        <iframe
            src="https://carbon.now.sh/embed/hOvHeov1lvmHsdvHhWnJ"
            style="width: 1024px; height: 636px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
    </div>

</body>
</html>