<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="Jonathan-Rey-Simpsons-Homer-Simpson-04-Happy.ico">
    <title>Input</title>
</head>
<body>
    <nav>
        <a href="../index.html"><li class="nav__header">UI For Dummies</li></a>
        <a href="alerts.html"><li class="nav__items">Alerts</li></a>
        <a href="avatar.html"><li class="nav__items">Avatar</li></a>
        <a href="badges.html"><li class="nav__items">Badges</li></a>
        <a href="buttons.html"><li class="nav__items">Buttons</li></a>
        <a href="cards.html"><li class="nav__items">Cards</li></a>
        <a href="input.html"><li class="nav__items">Input</li></a>
        <a href="images.html"><li class="nav__items">Images</li></a>
        <a href="lists.html"><li class="nav__items">Lists</li></a>
        <a href="modal.html"><li class="nav__items">Modal</li></a>
        <a href="navigation.html"><li class="nav__items">Navigation</li></a>
        <a href="rating.html"><li class="nav__items">Rating</li></a>
        <a href="simplified_grid.html"><li class="nav__items">Simplified Grid</li></a>
        <li>Text Utilities</li>
    </nav>

    <div class="content input__page">
        <h2>Search Bar</h2>

        <div class="search__bar">
            <img src="../icons/iconfinder_search_326690.svg" class="search__bar--icon">
            <input type="search" placeholder="Search..." class="search__bar--input">
        </div>

        <br>

        <iframe
            src="https://carbon.now.sh/embed/cePrSpOjF25TmnLUFEWT"
            style="width: 884px; height: 258px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>

        <h2>Text Input</h2>

        <input type="text" class="text__input">

        <h2>Email Input</h2>

        <input type="email" class="text__input">

        <h2>Password Input</h2>

        <input type="password" class="text__input password__input">

        <br>

        <iframe
            src="https://carbon.now.sh/embed/jV2zTzS0JEcXUDol1dwP"
            style="width: 648px; height: 384px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
    </div>

</body>
</html>