<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="Jonathan-Rey-Simpsons-Homer-Simpson-04-Happy.ico">
    <title>Lists</title>
</head>
<body>
    <nav>
        <a href="../index.html"><li class="nav__header">UI For Dummies</li></a>
        <a href="alerts.html"><li class="nav__items">Alerts</li></a>
        <a href="avatar.html"><li class="nav__items">Avatar</li></a>
        <a href="badges.html"><li class="nav__items">Badges</li></a>
        <a href="buttons.html"><li class="nav__items">Buttons</li></a>
        <a href="cards.html"><li class="nav__items">Cards</li></a>
        <a href="input.html"><li class="nav__items">Input</li></a>
        <a href="images.html"><li class="nav__items">Images</li></a>
        <a href="lists.html"><li class="nav__items">Lists</li></a>
        <a href="modal.html"><li class="nav__items">Modal</li></a>
        <a href="navigation.html"><li class="nav__items">Navigation</li></a>
        <a href="rating.html"><li class="nav__items">Rating</li></a>
        <a href="simplified_grid.html"><li class="nav__items">Simplified Grid</li></a>
        <li>Text Utilities</li>
    </nav>

    <div class="content lists__page">
        <h2>Regular List</h2>

        <div class="regular__list">
            <ul>
                <li>
                    Premium, around-ear, open back headphones
                </li>
                <li>
                    Outstanding natural spatial performance, brought to you by high-end proprietary Sennheiser transducers
                </li>
                <li>
                    “Ergonomic acoustic refinement” (E.A.R.) design, which channels the audio signal directly into your ears
                </li>
                <li>
                    Padded headband and luxurious ear pads perfect for long listening sessions
                </li>
                <li>
                    Cables included: 3m cable with a 6.3-mm jack for a home entertainment system and a shorted 1.2m cable with a 3.5mm jack perfect for use with phones, tables, and laptops.
                </li>
            </ul>
        </div>

        <iframe
            src="https://carbon.now.sh/embed/FxvXyyJ35CvIPZos23wt"
            style="width: 1024px; height: 582px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>

        <h2>Offer List</h2>

        <div class="offer__list">
            <ul>
                <li class="offer__list--items">
                    <img src="../icons/iconfinder_ic_local_offer_48px_352507.svg" class="offer__list--icon">
                    <div class="offer__list--content">Get flat Rs.500 cashback with Gpay</div>
                </li>
                <li class="offer__list--items">
                    <img src="../icons/iconfinder_ic_local_offer_48px_352507.svg" class="offer__list--icon">
                    <div class="offer__list--content">Get 10% discount with American Express credit card</div>
                </li>
                <li class="offer__list--items">
                    <img src="../icons/iconfinder_ic_local_offer_48px_352507.svg" class="offer__list--icon">
                    <div class="offer__list--content">Get 0% E.M.I option with Citibank Platinum credit card</div>
                </li>
                <li class="offer__list--items">
                    <img src="../icons/iconfinder_ic_local_offer_48px_352507.svg" class="offer__list--icon">
                    <div class="offer__list--content">Get free spare 3m cable worth Rs.500 with PhonePe</div>
                </li>
            </ul>
        </div>

        <iframe
            src="https://carbon.now.sh/embed/fcZEm5g3mTrQjUF3es17"
            style="width: 1024px; height: 672px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>

        <h2>Stacked Notifications List</h2>

        <div class="stacked__notifications">
            <div class="avatar__small">
                S
            </div>
            <div class="notification__content">
                <div class ="notification__title">
                    <div class="notification__user">
                        Sennheiser:&nbsp;
                    </div>
                    Introducing the brand new Sennheiser HD600 - A must have for audiophiles
                </div>
                <div class="notification__time">
                    8 hours ago
                </div>
            </div>
            <img src="../placeholders/96x54.png" class="notification__thumbnail">
        </div>
        <div class="stacked__notifications">
            <div class="avatar__small">
                A
            </div>
            <div class="notification__content">
                <div class ="notification__title">
                    <div class="notification__user">
                        Audio Technica:&nbsp;
                    </div>
                    Check out the new Audio Technica ATH-M50x - A fun pair of headphones for EDM enthusiasts
                </div>
                <div class="notification__time">
                    11 hours ago
                </div>
            </div>
            <img src="../placeholders/96x54.png" class="notification__thumbnail">
        </div>
        <div class="stacked__notifications">
            <div class="avatar__small">
                B
            </div>
            <div class="notification__content">
                <div class ="notification__title">
                    <div class="notification__user">
                        Beyerdynamic:&nbsp;
                    </div>
                    Unveiling the new Beyerdynamic DT 177X - A worthy upgrade for all mixing engineers
                </div>
                <div class="notification__time">
                    15 hours ago
                </div>
            </div>
            <img src="../placeholders/96x54.png" class="notification__thumbnail">
        </div>

        <iframe
            src="https://carbon.now.sh/embed/Mr29HcdZVJGXS8Guvigb"
            style="width: 1024px; height: 1122px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>

        <h2>Filter List</h2>

        <div class="filter__list">
            <ul>
                <li>Headphones - Open (<span>13</span>)</li>
                <li>Headphones - Closed (<span>19</span>)</li>
                <li>Headphones - Wireless (<span>7</span>)</li>
                <li>Amplifiers (<span>4</span>)</li>
                <li>Digital To Analog Converters (<span>3</span>)</li>
            </ul>
        </div>

        <iframe
            src="https://carbon.now.sh/embed/ytjhV0Rg3AspfTWnzdcQ"
            style="width: 740px; height: 348px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
    </div>

</body>
</html>