<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../Jonathan-Rey-Simpsons-Homer-Simpson-04-Happy.ico">
    <title>Navigation</title>
</head>
<body>
    <nav>
        <a href="../index.html"><li class="nav__header">UI For Dummies</li></a>
        <a href="alerts.html"><li class="nav__items">Alerts</li></a>
        <a href="avatar.html"><li class="nav__items">Avatar</li></a>
        <a href="badges.html"><li class="nav__items">Badges</li></a>
        <a href="buttons.html"><li class="nav__items">Buttons</li></a>
        <a href="cards.html"><li class="nav__items">Cards</li></a>
        <a href="input.html"><li class="nav__items">Input</li></a>
        <a href="images.html"><li class="nav__items">Images</li></a>
        <a href="lists.html"><li class="nav__items">Lists</li></a>
        <a href="modal.html"><li class="nav__items">Modal</li></a>
        <a href="navigation.html"><li class="nav__items active__underline">Navigation</li></a>
        <a href="rating.html"><li class="nav__items">Rating</li></a>
        <a href="simplified_grid.html"><li class="nav__items">Simplified Grid</li></a>
        <a href="https://github.com/Akshay-Laxmipathi/ui-for-dummies"><img src="../icons/iconfinder_mark-github_298822.svg" class="nav__github"></a>
    </nav>

    <div class="content navigation__page">
        <h2>Nav Bar</h2>

        <div class="nav__bar">
            <img src="../placeholders/toons_homer_simpson_homersimpson_2381.png" class="nav__bar--logo">
            <div class="nav__bar--items">
                <div class="nav__bar--monitors">Monitors</div>
                <div class="nav__bar--headphones">Headphones</div>
                <div class="nav__bar--keyboards">keyboards</div>
                <div class="nav__bar--mice">mice</div>
            </div>
            <div class="nav__bar--icons">
                <img src="../icons/iconfinder_search_326690.svg" class="nav__bar--search">
                <div class="notification__badge">
                    <img src="../icons/iconfinder_bell_4918867.svg" class="notification__badge--icon nav__bar--notification">
                    <div class="notification__badge--number">18</div>
                </div>
                <div class="notification__badge">
                    <img src="../icons/iconfinder_shopping-cart_326700.svg" class="cart__badge--icon nav__bar--cart">
                    <div class="cart__badge--number">18</div>
                </div>
                <div class="notification__badge">
                    <img src="../icons/iconfinder_we_heart_it_246530.svg" class="nav__bar--wishlist">
                    <div class="wishlist__badge--number">18</div>
                </div>
                <div class="avatar__small">A</div>
            </div>
        </div>

        <iframe
            src="https://carbon.now.sh/embed/0FxKJOtC4dDAtuCw5htA"
            style="width: 1024px; height: 690px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
    </div>

</body>
</html>