<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../Jonathan-Rey-Simpsons-Homer-Simpson-04-Happy.ico">
    <title>Rating</title>
</head>
<body>
    <nav>
        <a href="../index.html"><li class="nav__header">UI For Dummies</li></a>
        <a href="alerts.html"><li class="nav__items">Alerts</li></a>
        <a href="avatar.html"><li class="nav__items">Avatar</li></a>
        <a href="badges.html"><li class="nav__items">Badges</li></a>
        <a href="buttons.html"><li class="nav__items">Buttons</li></a>
        <a href="cards.html"><li class="nav__items">Cards</li></a>
        <a href="input.html"><li class="nav__items">Input</li></a>
        <a href="images.html"><li class="nav__items">Images</li></a>
        <a href="lists.html"><li class="nav__items">Lists</li></a>
        <a href="modal.html"><li class="nav__items">Modal</li></a>
        <a href="navigation.html"><li class="nav__items">Navigation</li></a>
        <a href="rating.html"><li class="nav__items active__underline">Rating</li></a>
        <a href="simplified_grid.html"><li class="nav__items">Simplified Grid</li></a>
        <li>Text Utilities</li>
    </nav>

    <div class="content rating__page">
        <h2>Star Rating</h2>
        
        <div class="star__rating">
            <input type="radio" name="rating" id="star__1"><label for="star__1"></label>
            <input type="radio" name="rating" id="star__2"><label for="star__2"></label>
            <input type="radio" name="rating" id="star__3"><label for="star__3"></label>
            <input type="radio" name="rating" id="star__4"><label for="star__4"></label>
            <input type="radio" name="rating" id="star__5"><label for="star__5"></label>
        </div>

        <br><br><br>
        
        <iframe
            src="https://carbon.now.sh/embed/lAqYL4irLwLPtoenWI8w"
            style="width: 892px; height: 312px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
    </div>

</body>
</html>

